<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.samtimo.pubcrawl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".races.RacesActivity"
            android:label="@string/title_activity_races" />
        <activity
            android:name=".my_races.MyRacesActivity"
            android:label="@string/title_activity_my_races" />
        <activity
            android:name=".pubs.PubsActivity"
            android:label="@string/title_activity_pubs" />
        <activity
            android:name=".authentication.LoginActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".authentication.SignUpActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>